<html>
	<head>
		<title>Carrito</title>
		<meta charset="utf-8">
	</head>
	<body>
		<div align="center">
		<h1>Tu pinche carrito</h1>
			<table border="1px">
				<thead>
					<tr>
						<th>Imagen</th>
						<th>Producto</th>
						<th>Descripción</th>
						<th>Cantidad</th>
						<th>Quitar</th>
						<th>Precio Unitario</th>
						<th>SubTotal</th>
					</tr>
				</thead>
				<tbody align="center">
					{%for item in cart%}
						{%with product=item.product%}
						<tr>
							<td>
								<img src="">
							</td>
							<td>
								{{product.nombre}}
							</td>
							<td>
								{{product.description}}
							</td>
							<td>
								{{item.quantity}}
							</td>
							<td>
								<a href="{%url 'cart:cart_remove' product.id%}">Quitar</a>
							</td>
							<td>
								$ {{item.price}}
							</td>
							<td>
								$ {{item.total_price}}
							</td>
						</tr>
						{%endwith%}
					{%endfor%}
					<tr>
						<td>Total</td>
						<td colspan="5"></td>
						<td>$ {{cart.get_total_price}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>